[package]
description = "Tanour"
name = "tanour"
version = "0.1.0"
authors = ["mantre <mantre@protonmail.com>"]
edition = "2018"

[dependencies]
byteorder = "1.3"
log = "0.4"
wasmer = { version = "2.0.0", default-features = false, features = [
    "wat",
    "universal",
    "singlepass",
] }
thiserror = "1.0"
hex = "0.4.3"
loupe = "0.1"
minicbor = { version = "0.11.1", features = ["std"] }

[dev-dependencies]
simple_logger = "1.4.0"
wat = "1"
test_contract = { path = "../test-contract" }
mockall = "0.10"

[lib]
path = "src/lib.rs"
